@charset "UTF-8";
:root {
  --textColot: #fff;
  --borderRadius: 15px;
  --mainStyleDark: #201338;
  --mainStylelight: #8a52d4;
  --maxWidth: 700px;
  --blCoor: #0a2744;
  --backgroundColor: #000;
}

.footer {
  position: fixed;
  bottom: 0;
  max-width: var(--maxWidth);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px 0 10px;
  z-index: 100;
}
.footer label {
  height: 73px;
  width: 71px;
  position: relative;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(45, 34, 62), rgba(24, 24, 29, 0));
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  z-index: 1;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.footer label.active {
  background: #000;
  box-shadow: 0px -3px 12px rgba(84, 31, 165, 0.7019607843), 0px -5px 19px rgba(84, 31, 165, 0.7019607843);
}
.footer label.active::before {
  background: unset;
}
.footer label::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--borderRadius);
  padding: 1px;
  background: linear-gradient(to bottom, #ffffff, rgba(51, 167, 130, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.footer label img {
  width: 25px;
}
.footer label p {
  font-size: 12px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  color: var(--textColot);
  background: unset;
}

input {
  outline: none;
  background-color: unset;
  border: unset;
  color: var(--textColot);
}

.BRR {
  border: 2px solid #ff0000;
}

.BRB {
  border: 2px solid #001eff;
}

.BRG {
  border: 2px solid #3cff00;
}

.BFS {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(14, 43, 71, 0), rgba(14, 43, 71, 0));
  border-radius: var(--borderRadius);
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(84, 31, 165, 0.7019607843);
}
.BFS::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--borderRadius);
  padding: 1px;
  background: linear-gradient(to right, #ffffff, rgba(51, 167, 130, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.h100 {
  height: 100%;
}

.scroll {
  overflow-y: auto;
  height: 100%;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(68, 36, 115, 0.3647058824);
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-track {
  background: rgba(171, 156, 255, 0.1215686275);
  border-radius: 4px;
}

.div-input {
  width: 150px;
  height: 40px;
  background: linear-gradient(to bottom, var(--mainStyleDark), var(--mainStyleDark));
}
.div-input::before {
  background: linear-gradient(to right, #ffffff, #8133a7);
}
.div-input input {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  background-color: unset;
  font-size: 24px;
  color: #fff;
  border: none;
}

.btnB {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(to bottom, #0e2b47, #0e2b47);
}
.btnB::before {
  background: linear-gradient(to right, #0e7fb8, rgba(51, 167, 130, 0));
}

.frame1::before {
  background: linear-gradient(to right, #ffffff, #8133a7);
}

.hiden {
  display: none !important;
}

html {
  background-color: var(--backgroundColor);
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.body {
  height: 100%;
  max-width: 700px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: var(--textColot);
}

.page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px 85px 20px;
  position: relative;
  flex-grow: 1;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top_balance {
  height: auto;
  min-height: 75px;
  flex-wrap: wrap;
  padding: 6px;
  background: linear-gradient(to right, rgba(51, 167, 130, 0.3607843137), rgba(51, 167, 130, 0.2196078431));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 335px) {
  .top_balance {
    justify-content: center;
  }
}
.top_balance::before {
  background: linear-gradient(to right, #33a782, rgba(51, 167, 130, 0));
}
.top_balance img {
  width: 45px;
  aspect-ratio: 1;
}
@media (max-width: 440px) {
  .top_balance img {
    width: 38px;
  }
}

.top_balance__left {
  display: flex;
  gap: 8px;
}
.top_balance__left div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top_balance__left div span {
  font-size: 12px;
}
.top_balance__left div p {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 440px) {
  .top_balance__left div p {
    font-size: 16px;
  }
}

.top_balance__right {
  height: 100%;
  display: flex;
  gap: 4px;
}
@media (max-width: 335px) {
  .top_balance__right {
    height: 42px;
  }
}
.top_balance__right button {
  width: auto;
  min-width: 77px;
  height: 100%;
  display: flex;
  max-height: 66px;
  gap: 4px;
  border-radius: var(--borderRadius);
  background-color: rgba(175, 190, 241, 0.1019607843);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 335px) {
  .top_balance__right button {
    flex-direction: row;
    width: 95px;
  }
}
.top_balance__right button img {
  height: auto;
  width: 34px;
}
@media (max-width: 440px) {
  .top_balance__right button img {
    width: 25px;
  }
}
.top_balance__right button span {
  font-size: 12px;
}

.centr_extraction {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.centr_extraction__left {
  flex-grow: 1;
  height: auto;
  min-height: 75px;
  padding: 6px;
  background: linear-gradient(to right, rgba(91, 48, 165, 0.5215686275), rgba(94, 51, 167, 0.2509803922));
  display: flex;
  align-items: center;
  gap: 10px;
}
.centr_extraction__left::before {
  background: linear-gradient(to right, #5b30a5, rgba(91, 48, 165, 0.0470588235));
}
.centr_extraction__left img {
  width: 45px;
  aspect-ratio: 1;
}
@media (max-width: 440px) {
  .centr_extraction__left img {
    width: 38px;
  }
}

.centr_extraction__left-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.centr_extraction__left-data span {
  font-size: 12px;
}
.centr_extraction__left-data div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.centr_extraction__left-data div p {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 440px) {
  .centr_extraction__left-data div p {
    font-size: 16px;
  }
}
.centr_extraction__left-data div button {
  background-color: rgba(255, 255, 255, 0.1411764706);
  height: 24px;
  width: 87px;
  border-radius: var(--borderRadius);
  font-size: 12px;
  padding: 0 6px;
}
@media (max-width: 440px) {
  .centr_extraction__left-data div button {
    width: auto;
  }
}

.centr_extraction__right-btn {
  border-radius: var(--borderRadius);
  background: linear-gradient(to bottom, #f04548, #990003);
  border: 1px solid #f04548;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 135px;
  padding: 4px;
}
@media (max-width: 440px) {
  .centr_extraction__right-btn {
    width: auto;
  }
}
.centr_extraction__right-btn div button span {
  font-size: 12px;
}

.centr-well {
  display: flex;
  height: auto;
  min-height: 75px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background: linear-gradient(to right, rgba(91, 48, 165, 0.5215686275), rgba(94, 51, 167, 0.2509803922));
}
.centr-well::before {
  background: linear-gradient(to right, #5b30a5, rgba(91, 48, 165, 0.0470588235));
}

#centr-well__know-Btn {
  border-radius: var(--borderRadius);
  background-color: #302644;
  height: 100%;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#centr-well__know-Btn b {
  font-size: 20px;
}

.centr-boost-refill {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.centr-boost-refill_input {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.centr-boost-refill_input p {
  font-size: 20px;
}

.centr-boost-refill_input-input {
  width: 150px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(45, 34, 62), rgba(24, 24, 29, 0));
}
.centr-boost-refill_input-input::before {
  background: linear-gradient(to right, #ffffff, #c33ff8);
}
.centr-boost-refill_input-input input {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  background-color: unset;
  font-size: 24px;
  color: #fff;
  border: none;
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  gap: 2%;
}

.hamster-circle {
  width: 100%;
  aspect-ratio: 1;
  background-color: rgba(60, 51, 77, 0.77);
  border-radius: 50%;
  padding: 10px;
  position: relative;
  box-shadow: 0px 0px 60px #8d51d4;
}
@media (max-height: 800px) {
  .hamster-circle {
    width: 70%;
  }
}
.hamster-circle canvas {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.hamster-circle img {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
}

.hamster-circle_inner-shadow {
  position: absolute;
  background-color: rgba(141, 81, 212, 0.5607843137);
  height: 93%;
  width: 93%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.6784313725), inset 0px 0px 160px rgba(0, 0, 0, 0.968627451);
  transform: translate(-50%, -50%);
}

.center_dialogues {
  position: absolute;
  max-width: 160px;
  z-index: 100;
  top: 53%;
  right: 14%;
  background-color: #fff;
  color: #000;
  padding: 14px;
  font-size: 12px;
  border-radius: var(--borderRadius);
  text-align: center;
  line-height: 1.6;
}
@media (max-width: 440px) {
  .center_dialogues {
    font-size: 10px;
    padding: 10px;
    max-width: 100px;
  }
}
.center_dialogues span {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.center_dialogues span img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-59%, -131%);
  height: 33px;
}
@media (max-width: 440px) {
  .center_dialogues span img {
    height: 20px;
  }
}

.center_hamster-got {
  height: auto;
  min-height: 75px;
  position: relative;
  padding: 6px 12px;
  overflow: hidden;
  background: linear-gradient(to right, rgb(64, 26, 65), rgb(63, 26, 65));
  border-radius: var(--borderRadius);
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.center_hamster-got::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--borderRadius);
  padding: 1px;
  background: linear-gradient(to right, #cacaca, rgba(91, 48, 165, 0.0470588235));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.center_hamster-got span {
  font-size: 16px;
}
.center_hamster-got p {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 440px) {
  .center_hamster-got p {
    font-size: 25px;
  }
}
.center_hamster-got img {
  width: 45px;
  aspect-ratio: 1;
}
@media (max-width: 440px) {
  .center_hamster-got img {
    width: 38px;
  }
}

.center_hamster-sleep {
  position: relative;
}

.hamster-sleep_content {
  height: 59px;
  width: 150px;
  position: relative;
  padding: 6px;
  overflow: hidden;
  background: linear-gradient(to right, rgb(40, 27, 62), rgb(41, 29, 65));
  border-radius: var(--borderRadius);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hamster-sleep_content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--borderRadius);
  padding: 1px;
  background: linear-gradient(to right, #44227e, rgba(91, 48, 165, 0.0470588235));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.hamster-sleep_content span {
  font-size: 12px;
}
.hamster-sleep_content p {
  font-size: 24px;
}

.add-inform {
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 50%;
  background-color: unset;
}
.add-inform img {
  height: 30px;
}

.hire-hamster-btn {
  border-radius: var(--borderRadius);
  background: linear-gradient(to bottom, #f04548, #990003);
  border: 1px solid #f04548;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 75px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.hire-hamster-terms-btn {
  font-size: 16px;
  border-bottom: 1px solid #fff;
}

.replenish,
.withdraw {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1%;
  padding: 10px 0 20px;
}

.replenish_list-crypto,
.withdraw_list-crypto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}
.replenish_list-crypto button,
.withdraw_list-crypto button {
  height: 36px;
  width: 100%;
  border-radius: var(--borderRadius);
  background-color: #3e3d45;
}
.replenish_list-crypto button::before,
.withdraw_list-crypto button::before {
  background: unset;
}
.replenish_list-crypto button.active,
.withdraw_list-crypto button.active {
  background: linear-gradient(to bottom, rgba(91, 19, 120, 0.3764705882), rgba(91, 19, 120, 0.3764705882));
}
.replenish_list-crypto button.active::before,
.withdraw_list-crypto button.active::before {
  background: linear-gradient(to right, #ffffff, rgba(51, 167, 130, 0));
}

.replenish_content,
.withdraw_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.replenish_content span,
.withdraw_content span {
  padding: 10px;
}

.withdraw_content-summ-inp,
.replenish_content-summ-inp {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.withdraw_content-summ-inp p,
.replenish_content-summ-inp p {
  width: 100%;
  font-size: 24px;
}

.withdraw_content__add-option,
.replenish_content__add-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1%;
  padding: 2% 1%;
}
.withdraw_content__add-option button,
.replenish_content__add-option button {
  height: 53px;
  font-size: 14px;
  max-width: 300px;
}

.withdraw_content__key,
.replenish_content__key {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3%;
  justify-content: space-between;
}
.withdraw_content__key p,
.replenish_content__key p {
  font-size: 24px;
  width: 100%;
  padding: 0 3%;
}
.withdraw_content__key button,
.replenish_content__key button {
  height: 36px;
  width: 65px;
  max-width: 300px;
}

.withdraw_div-input {
  height: 56px;
  margin: 11px;
  width: 90%;
}

.withdraw_btn {
  max-width: 300px;
}

.withdraw_content__story,
.replenish_content__story {
  width: 100%;
  height: 100%;
  margin: 10px 0 0 0;
}
.withdraw_content__story th,
.replenish_content__story th {
  text-align: center;
  padding: 4px;
  padding: 10px 0px;
}
.withdraw_content__story td,
.replenish_content__story td {
  text-align: center;
  padding: 4px;
}

.withdraw_content__story-cont,
.replenish_content__story-cont {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.user-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 4%;
  margin-top: 2%;
}

.user-choice_statistics {
  width: 100%;
  background: linear-gradient(to right, rgba(91, 48, 165, 0.5215686275), rgba(94, 51, 167, 0.2509803922));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 0 0 4%;
  min-height: 100px;
}
.user-choice_statistics p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.user-choice_statistics p button img {
  height: 20px;
}

.user-choice_switch {
  width: 100%;
  max-width: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.user-choice_switch button {
  width: 100%;
  min-height: 45px;
  height: 100%;
  background: linear-gradient(to bottom, #3e3d45, #3e3d45);
  font-size: 16px;
}
.user-choice_switch button.active {
  background: linear-gradient(to bottom, #0e2b47, #0e2b47);
}
.user-choice_switch button.active::before {
  background: linear-gradient(to right, #0e7fb8, rgba(51, 167, 130, 0));
}

.content_participant_first {
  padding: 22px 11px;
  text-align: center;
  margin-top: 10px;
}

.content_participant_second,
.content_advertiser_second {
  margin-top: 20px;
}
.content_participant_second table,
.content_advertiser_second table {
  width: 100%;
  border-spacing: 1px;
}
.content_participant_second td,
.content_participant_second th,
.content_advertiser_second td,
.content_advertiser_second th {
  margin: 2px 5%;
  font-size: 12px;
}

.table-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  background-color: #26262d;
  border: 1px solid #8a52d4;
}

.user-content_advertiser {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.user-content_advertiser h2 {
  color: var(--mainStylelight);
  font-weight: bold;
  font-size: 24px;
}

.user-content_advertiser__unput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-content_advertiser__unput p {
  width: 100%;
}
.user-content_advertiser__unput div {
  width: 100%;
}

.add-task-top {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.add-task {
  border: 1px solid #fff;
  height: 62px;
  width: 100%;
  background: linear-gradient(to right, rgba(91, 48, 165, 0.5215686275), rgba(94, 51, 167, 0.2509803922));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
}

.instruction {
  text-align: center;
  padding: 2%;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}
.instruction a {
  color: #0095ff;
  border-bottom: 1px solid #0095ff;
}

.section-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.section-popup.active {
  z-index: 999;
}

.popup {
  transform: translateY(108%);
  margin: 0px 10px;
  position: absolute;
  bottom: 0;
  z-index: 110;
  left: 0px;
  right: 0px;
  background: rgba(108, 76, 144, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.popup.active {
  transform: translateY(0);
}

.popup_content {
  width: 100%;
  position: relative;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(45, 34, 62), rgba(24, 24, 29, 0));
  border-radius: var(--borderRadius);
  z-index: 1;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 20px rgba(84, 31, 165, 0.7019607843);
  flex-direction: column;
}
.popup_content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--borderRadius);
  padding: 1px;
  background: linear-gradient(to right, #ffffff, rgba(51, 167, 130, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.popup_content hr {
  width: 50%;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}
.popup_content img {
  height: 60px;
}
.popup_content p {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
}
.popup_content button {
  width: 306px;
  height: 75px;
  position: relative;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(45, 34, 62), rgba(24, 24, 29, 0));
  border-radius: var(--borderRadius);
  z-index: 1;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(84, 31, 165, 0.7019607843);
  flex-direction: row;
}
.popup_content button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--borderRadius);
  padding: 1px;
  background: linear-gradient(to right, #ffffff, rgba(51, 167, 130, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.popup_content button img {
  height: 24px;
}
.popup_content button span {
  font-size: 20px;
  font-weight: bold;
}

.popup_content__input-sect {
  display: flex;
  align-items: center;
  gap: 15px;
}

.popup_content__input {
  /* Скрыть стрелочки в Firefox */
}
.popup_content__input input[type=number]::-webkit-outer-spin-button,
.popup_content__input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup_content__input input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.not-active {
  display: none !important;
}

.popup_content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centerHamsterGot_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.topExtractionStory_tabs {
  width: 100%;
  display: flex;
  gap: 10px;
}
.topExtractionStory_tabs button {
  height: 46px;
  background: rgba(255, 255, 255, 0.1215686275);
}
.topExtractionStory_tabs button.active {
  background: #432473;
}

.topExtractionStory_content {
  width: 100%;
}
.topExtractionStory_content table {
  width: 100%;
  height: 200px;
  border-collapse: collapse;
}
.topExtractionStory_content table th {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.topExtractionStory_content table td {
  padding: 5px;
  text-align: center;
}

.topExtractionStory_total {
  width: 100%;
  display: flex;
  gap: 4px;
}
.topExtractionStory_total button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background: rgba(82, 36, 92, 0.631372549);
}
.topExtractionStory_total button p {
  font-size: 20px;
  text-wrap: nowrap;
}
.topExtractionStory_total button span {
  font-size: 11px;
  font-weight: unset;
}

.partners-partners {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
}

.partners_level-percentage {
  height: 59px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}
.partners_level-percentage button {
  width: 100%;
  background: linear-gradient(to bottom, rgba(91, 19, 120, 0.3764705882), rgba(91, 19, 120, 0.3764705882));
}
.partners_level-percentage button::before {
  background: linear-gradient(to right, #7900a8, rgba(51, 167, 130, 0));
}
.partners_level-percentage button p {
  font-size: 12px;
}
.partners_level-percentage button b {
  font-size: 20px;
}

.levels_level {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.levels_level::before {
  background: linear-gradient(to right, #95a800, rgba(51, 167, 130, 0));
}

.levels_level__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}
.levels_level__title p {
  font-size: 24px;
}
.levels_level__title span {
  font-size: 16px;
}

.levels_level__cont {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}

.levels_level__cont-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.levels_level__cont-text p {
  font-size: 14px;
}
.levels_level__cont-text img {
  height: 24px;
}

.partners_invite-friends {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.partners_invite-friends button {
  background-color: #fff;
  color: #000;
  height: 36px;
  border-radius: var(--borderRadius);
  padding: 0 10px;
  min-width: 36px;
}

.partners_friends-list {
  height: 36px;
}
.partners_friends-list::before {
  background: linear-gradient(to right, #ffffff, #673ab7);
}

.partners_description {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 0.9;
  background: linear-gradient(to bottom, rgba(91, 19, 120, 0.3764705882), rgba(91, 19, 120, 0.3764705882));
}
.partners_description::before {
  background: linear-gradient(to right, #7900a8, rgba(51, 167, 130, 0));
}

.partners-friends {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  gap: 10px;
}

.partners-friends_find-friends {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.partners-friends_find-friends button {
  height: 40px;
  background: linear-gradient(to bottom, #3a153b, #3a153b);
}

.find-friends_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.find-friends_input__div {
  height: 40px;
  width: 100%;
  background: linear-gradient(to bottom, #201338, #201338);
}
.find-friends_input__div::before {
  background: linear-gradient(to right, #ffffff, #c33ff8);
}
.find-friends_input__div input {
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 16px;
}

.partners_back-main-section {
  height: 36px;
}
.partners_back-main-section::before {
  background: linear-gradient(to right, #ffffff, #673ab7);
}

.partners-friends_friends-withdrawal {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.friends-withdrawal_block-data {
  padding: 10px;
}

.friends-block-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3882352941);
  padding-bottom: 8px;
}
.friends-block-top img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.friends-block-bottom {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 5px 0px;
}

.friends-block-bottom_cell {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.friends-block-bottom_cell b {
  font-size: 14px;
  white-space: nowrap;
}

.friends-block-bottom_cell-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.friends-block-bottom_cell-bottom img {
  height: 20px;
}

.settings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.settings-section h2 {
  text-align: center;
  font-weight: bold;
}

.settings_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.settings_main button {
  background-color: unset;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4392156863);
  width: 100%;
}
.settings_main button img {
  height: 25px;
}
.settings_main button span {
  color: rgba(255, 255, 255, 0.5019607843);
}
.settings_main button > .left {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.settings_language__btn {
  width: 100%;
  background-color: #26252c;
  height: 58px;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}
.settings_language__btn.active {
  background-color: #32195f;
  border: 1px solid #fff;
}

.settings_theme__btn {
  width: 100%;
  background-color: #26252c;
  height: 58px;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}
.settings_theme__btn.active {
  background-color: #32195f;
  border: 1px solid #fff;
}

.settings_back-main-btn {
  width: 306px;
  height: 75px;
}

.settings_wallet-address {
  height: 100%;
  margin-bottom: 20px;
}
.settings_wallet-address span {
  width: 100%;
  padding: 6%;
  font-size: 14px;
  text-align: center;
}

.settings_wallet-address_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}

.settings_wallet-address_save-delit {
  display: flex;
  gap: 10px;
  width: 100%;
}

.settings_wallet-address_save {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
  max-width: 215px;
  width: 100%;
  font-size: 18px;
  background: linear-gradient(to bottom, #341c60, #341c60);
}
.settings_wallet-address_save::before {
  background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
}

.settings_wallet-address_delit {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
  max-width: 215px;
  width: 100%;
  font-size: 18px;
  background: linear-gradient(to bottom, #621c1e, #621c1e);
}
.settings_wallet-address_delit::before {
  background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
}

.settings_wallet-address_div-input {
  width: 100%;
  height: 40px;
  padding: 2px;
}
.settings_wallet-address_div-input::before {
  background: linear-gradient(to right, #ffffff, #9433a7);
}
.settings_wallet-address_div-input input {
  height: 100%;
  width: 100%;
  font-size: 18px;
  background-color: #211539;
  border-radius: var(--borderRadius);
  padding: 0 20px;
}
.settings_wallet-address_div-input input::-moz-placeholder {
  color: #52269e;
}
.settings_wallet-address_div-input input::placeholder {
  color: #52269e;
}/*# sourceMappingURL=index.css.map */