.BRR {
  border: 2px solid #ff0000;
}
.BRB {
  border: 2px solid #001eff;
}
.BRG {
  border: 2px solid #3cff00;
}

.delBtn {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 10px;
  color: burlywood;
}

// Basic Frame Style
.BFS {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #0e2b4700, #0e2b4700);
  border-radius: var(--borderRadius);
  z-index: 1;
  box-shadow: 0px 0px 20px #541fa5b3;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--borderRadius);
    padding: 1px;
    background: linear-gradient(to right, #ffffff, #33a78200);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
}

.h100 {
  height: 100%;
}

.scroll {
  overflow-y: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4424735d;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #ab9cff1f;
    border-radius: 4px;
  }
}

.PC {
  color: var(--mainStylelight);
  font-weight: bold;
  font-size: 24px;
}

.div-input {
  width: 150px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    var(--mainStyleDark),
    var(--mainStyleDark)
  );
  &::before {
    background: linear-gradient(to right, #ffffff, #8133a7);
  }

  input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background-color: unset;
    font-size: 24px;
    color: #fff;
    border: none;
  }
}

.btnA {
}
.btnB {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(to bottom, #0e2b47, #0e2b47);
  &::before {
    background: linear-gradient(to right, #0e7fb8, #33a78200);
  }
}
.btnC {
}

.frame1 {
  &::before {
    background: linear-gradient(to right, #ffffff, #8133a7);
  }
}
